<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="container-lg px-3 my-5">
      <header class="mb-4">
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
      </header>
      <main>
        {{ content }}
      </main>
      <footer class="mt-5">
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.github.owner_name }}</p>
      </footer>
    </div>
  </body>
</html> 